/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f4f482; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* To prevent scrolling */
}

.box {
    position: relative;
    background: #d2deffe6; /* Semi-transparent background */
    padding: 20px;
    border-radius: 15px; /* Increased border-radius for a softer look */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
    text-align: center;
    width: 350px;
    height:500px;
    z-index: 10;
}

.inputData {
    margin-bottom: 20px;
}

.inputField {
    width:250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px; /* Rounded input field */
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(156, 124, 124, 0.932); /* Input field shadow */
}

/* Styling for weather information */
.info {
    margin-top: 50px;
}

.location {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.location i {
    margin-right: 5px;
    color: #ff6347; /* Changed to a vibrant color */
}

.temp {
    font-size: 48px;
    color: #444;
    margin: 20px 20px;
}

.tempin_max {
    font-size: 20px;
    color: #555;
}

/* Waves */
.waves {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200%;
    height: 200px;
   
    transform: translateX(-50%);
    animation: wave 10s linear infinite;
    z-index: 1;
    opacity: 0.5;
}

.wave-two {
    animation-duration: 15s;
    animation-delay: -5s;
    opacity: 0.4;
}

.wave-three {
    animation-duration: 20s;
    animation-delay: -10s;
    opacity: 0.3;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
